/* OTPVerification.css */
.otp-input {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .otp-input:focus {
    outline: none;
  }
  